server:
  port: 8080

spring:
  data:
    mongodb:
      database: mongodb
#      username: mongo
#      password: mongo
      port: 27017
      authentication-database: admin
    neo4j:
      database: neo4j
    redis:
      port: 6379

  datasource:
    url: jdbc:mysql://localhost:3306/warehouse
    username: root
    password: letmein

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    show-sql: true

  main:
    web-application-type: servlet

  neo4j:
    authentication:
      username: neo4j
      password: letmein
    uri: neo4j://localhost:9090