services:
  mysql:
    container_name: mysql
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'letmein'
    ports:
      - "3306:3306"
    volumes:
      - ./data.sql:/docker-entrypoint-initdb.d/data.sql
  mongo:
    container_name: mongo
    image: mongo:latest
    restart: always
    environment:
      MONGO_INITDB_DATABASE: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data_container:/data/db
  neo4j:
    container_name: neo4j
    image: neo4j:4.4.8-enterprise
    restart: always
    ports:
      - "7687:7687"
      - "9090:9090"
    environment:
      NEO4J_ACCEPT_LICENSE_AGREEMENT: "yes"
      NEO4J_AUTH: neo4j/letmein
      NEO4J_dbms_connector_http_listen__address: neo4j:7687
      NEO4J_dbms_connector_bolt_listen__address: neo4j:9090
  redis:
    container_name: redis
    image: redis:latest
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - cache:/data
volumes:
  mongodb_data_container:
  cache:
    driver: local

